@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import "header";
@import "card";

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Arial, sans-serif;
}

h3,
body,
p {
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  gap: 50px 48px;
  align-content: center;
  justify-content: center;

  margin: 50px auto;
  max-width: 1024px;
}

@media screen and (max-width: 950px) {
  .navigation__list {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .main {
    grid-template-columns: repeat(auto-fit, $card-width);
  }
}
