@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.navigation {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase; }

.header {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }
  .header__logo {
    height: 40px; }

.navigation__list {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0; }

.navigation__item {
  margin-left: 20px;
  list-style: none; }

.navigation__item:first-child {
  margin-left: 0; }

.navigation__item-link {
  text-decoration: none;
  color: #000;
  display: block;
  position: relative;
  padding: 23px 0; }

.navigation__item-link:hover {
  color: #00acdc;
  -webkit-transition: color 250ms;
  transition: color 250ms; }

.navigation__item-link:active {
  border-bottom: 4px solid #00acdc; }

.navigation__item-link--is-active {
  color: #00acdc; }

.navigation__item-link--is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #00acdc;
  border-radius: 8px; }

.card {
  font-size: 11px;
  line-height: 13px; }

.card {
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px; }

.card__price-value {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px; }

.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px; }

.card {
  padding: 30px 14px 14px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .card:hover {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07); }
  .card__photo {
    width: 160px;
    margin: 0 5px 45px;
    height: 134px; }
  .card__about {
    margin-bottom: 15px;
    height: 48px; }
  .card__code {
    margin-top: 5px; }
  .card__rating {
    margin-bottom: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 21px; }
  .card__button {
    text-align: center;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #00acdb;
    border: 1px solid #00acdc;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    width: 100%;
    padding: 11px 57px; }
  .card__button:hover {
    background-color: #fff;
    color: #00acdc;
    -webkit-transition: color, background-color 0.5s;
    transition: color, background-color 0.5s; }

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .rating__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .rating__star {
    height: 15px;
    width: 15px;
    background-image: url(../images/star.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 4px; }

.rating--5 .rating__star,
.rating--1 .rating__star:first-child,
.rating--2 .rating__star:nth-child(-n+2),
.rating--3 .rating__star:nth-child(-n+3),
.rating--4 .rating__star:nth-child(-n+4) {
  background-image: url(../images/star-active.svg); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: Roboto, Arial, sans-serif; }

h3,
div,
body,
p {
  margin: 0; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto 0;
  max-width: 1024px; }
  .main__card {
    margin: 0 24px 50px; }

@media screen and (max-width: 950px) {
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

/*# sourceMappingURL=main.css.map */
